@font-face {
  font-family: "montserrat";
  src: url("../fonts/Montserrat.ttf") format("ttf");
  font-weight: normal;
  font-style: normal;
}
$background-color: #f5f5f5;
$primary-font: montserrat;
$box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.18);
* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #f5f5f5;
}
.nav {
  background-color: #f5f5f5;
  padding: 10px 0;
  margin-bottom: 20px;
  border-radius: 5px;
  margin: auto 2em;
  padding: 2em;
  box-shadow: $box-shadow;
  a {
    color: #000;
    text-decoration: none;
    font-weight: bold;
    text-align: center;
    &:hover {
      color: #000;
      text-decoration: underline;
    }
    .title-wrap {
      display: flex;
      justify-content: center;
      align-items: center;
      img {
        width: 45px;
        border-radius: 50%;
        margin: 0 1em;
      }
      h1 {
        font-family: $primary-font;
        font-size: 20px;
        text-align: center;
      }
    }
  }
}
main {
  .vertical-nav {
    background-color: $background-color;
    box-shadow: $box-shadow;
    .nav-content {
      display: flex;
      align-items: center;
      img {
        width: 5em;
        height: 4.2em;
      }
      h2 {
        font-family: $primary-font;
      }
    }
  }
}
